<ion-header>
  <ion-toolbar class="toolbar-qr">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/payment-methods"></ion-back-button>
    </ion-buttons>
    <ion-title>Pago con QR</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div *ngIf="!cargando; else cargandoTpl" class="qr-wrapper">
    <h2 class="titulo">Escanea el código QR</h2>
    <p class="subtexto">Usa tu app bancaria para pagar el monto total</p>

    <div class="qr-container">
      <qrcode [qrdata]="textoQR" [width]="220" [errorCorrectionLevel]="'M'"></qrcode>
    </div>

    <h3 class="total">Total: {{ total | number: '1.2-2' }} Bs</h3>

    <ion-button expand="block" color="warning" class="main-button" (click)="confirmarPago()">
      Confirmar Pago
    </ion-button>

  </div>

  <ng-template #cargandoTpl>
    <div class="loading-message">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Generando código QR...</p>
    </div>
  </ng-template>
</ion-content>