<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Signup</h1>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="fullName" name="fullName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" slot="end" (click)="togglePassword()"></ion-icon>
      </ion-item>

      <ion-button expand="block" class="main-button" (click)="signup()">Sign Up</ion-button>

      <div class="sign-up">
        Already have an account? <ion-button color="dark" fill="clear" routerLink="/login"
          routerDirection="forward">Sign in</ion-button>
      </div>
    </div>
  </div>
</ion-content>