<ion-content fullscreen="true">
  <h1 class="title">Carrito</h1>

  <div class="cart-items" *ngIf="carrito.length > 0; else vacio">
    <ion-card mode="ios" *ngFor="let item of carrito">
      <ion-card-content>
        <div class="item-img">
          <img [src]="item.imagen" />
        </div>

        <div class="item-info">
          <p>{{ item.nombre }}</p>
          <p>{{ item.marca || item.nombre }}</p>
          <p>Bs. {{ item.precio | number:'1.2-2' }}</p>

          <div class="qty-selector">
            <ion-button fill="clear" (click)="decrementarCantidad(item)">-</ion-button>
            <ion-label>{{ item.cantidad }}</ion-label>
            <ion-button fill="clearose" (click)="incrementarCantidad(item)">+</ion-button>
          </div>

          <ion-button fill="clear" color="danger" (click)="eliminarProducto(item)">
            Eliminar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="total">
      <h2>Total: Bs. {{ total | number:'1.2-2' }}</h2>
    </div>

    <ion-footer translucent="true" class="ion-no-border">
      <ion-toolbar color="translucent">
        <ion-button expand="block" routerLink="/checkout">Continuar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>

  <ng-template #vacio>
    <p style="text-align:center; margin-top:50px; color:#ccc;">
      Tu carrito está vacío 🛒
    </p>
  </ng-template>
</ion-content>
