ion-toolbar {
  --border-width: 0 !important;
}

.header-md::after {
  background: none !important;
}

h2 {
  color: #fdd835;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 24px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

ion-content {
  --background: #1b1b1b;
  color: #fff;
}
